/* CLASES */

/* CLASE DEL CONTENEDOR PRINCIPAL */
.container {
    font-family: Arial, Helvetica, sans-serif; /* Fuente de texto */
    color: antiquewhite; /* Color del texto */
    text-align: center; /* Alineación centrada del texto */
}

/* BARRA SUPERIOR DE NAVEGACIÓN */
.navbar {
    padding: 20px; /* Espaciado interno */
    font-size: 18px; /* Tamaño de fuente */
    display: flex; /* Uso de flexbox para el diseño */
    align-items: center; /* Alineación vertical de los ítems */
    box-shadow: -5px 8px 15px -1px rgba(35, 13, 96, 0.72); /* Sombra de la barra */
    background-color: #27094e; /* Color de fondo */
    position: fixed; /* Hace la barra de navegación fija */
    top: 0; /* Posición en la parte superior de la página */
    width: 100%; /* Asegura que la barra ocupe todo el ancho de la página */
    z-index: 1000; /* Asegura que la barra esté por encima de otros elementos */
    left: 0; /* Alinea la barra al borde izquierdo */
    margin: 0; /* Elimina cualquier margen predeterminado */
}

.navbar img {
    width: 60px; /* Ancho de la imagen */
}

.navbar a {
    color: rgb(36, 151, 159); /* Color del enlace */
    margin: auto; /* Margen automático */
    text-decoration: none; /* Sin subrayado */
}

.navbar a:hover {
    color: #4CAF50; /* Color del enlace al pasar el cursor */
}

/* TITULOS */
.titulos {
    margin-top: 120px; /* Doy un margen por arriba de 120px para que sea visible por debajo de la barra de navegación */
    font-size: 1.1em; /* Tamaño de fuente */
    font-family: 'Courier New', Courier, monospace; /* Fuente de los títulos */
    border-bottom: 1px solid #524973; /* Borde inferior */
    margin-bottom: 30px; /* Al borde inferior le doy 30px de margen por debajo */
}

/* TEXTO */
.texto {
    font-size: 1.4em; /* Tamaño de fuente */
    font-family: Verdana, Geneva, Tahoma, sans-serif; /* Fuente del texto */
}

.texto img {
    border-radius: 15px; /* Bordes redondeados de la imagen */
    width: 1080px; /* Ancho de la imagen */
}

/* LISTAS */
.objetos_cos {
    font-size: 1.7em; /* Tamaño de fuente */
    font-family:'Courier New', Courier, monospace; /* Fuente de las listas */
}

.objetos_cos img {
    width: 720px; /* Ancho de la imagen */
    text-align: center; /* Alineación centrada */
    border-radius: 15px; /* Bordes redondeados de la imagen */
}

.objetos_cos p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /* Fuente del texto de los párrafos */
}

/* FORMULARIOS */
.formularios {
    background-color: #4f1882; /* Color de fondo del formulario */
    padding: 20px; /* Espaciado interno */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra del formulario */
    max-width: 400px; /* Ancho máximo */
    width: 100%; /* Ancho completo */
    margin: 0 auto; /* Centrando el formulario */
    color: #fff; /* Color del texto */
    font-family: Arial, sans-serif; /* Fuente del formulario */
}

.formularios label {
    display: block; /* Muestra como bloque */
    margin-bottom: 8px; /* Margen inferior */
    font-weight: bold; /* Texto en negrita */
}

.formularios input,
.formularios textarea {
    width: 100%; /* Ancho completo */
    padding: 10px; /* Espaciado interno */
    margin-bottom: 20px; /* Margen inferior */
    border: 1px solid #ccc; /* Borde */
    border-radius: 4px; /* Bordes redondeados */
    box-sizing: border-box; /* Ajuste del tamaño del borde */
}

.formularios button {
    background-color: #4CAF50; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    font-size: 16px; /* Tamaño de fuente */
}

.formularios button:hover {
    background-color: #45a049; /* Color de fondo al pasar el cursor */
}


/* ESTILOS GENERALES */
body {
    background:linear-gradient(#05000b, #221062); /* Color de fondo del cuerpo */
    
}
footer {
    color: antiquewhite;
    text-align: center;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}